<p-toast position="top-center"></p-toast>
<div class="primary-frame">
    <div class="container-fluid mx-auto first__frame">
        <div class="container">
            <div class="search__frame-header">{{form.form_name}}</div>
        </div>
    </div>

    <div class="container-fluid mx-auto second__frame">
        <div class="container">
            <div class="search__frame">
                <div class="search__frame-bar">
                    <button pRipple pButton class="p-button-outlined"
                        label="{{ 'GeneralMessage.btnBackLabel' | translate}}" icon="pi pi-arrow-left"
                        (click)="backToHomePage()"></button>
                    <span class="p-input-icon-left search__bar">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText placeholder="{{ 'SearchPage.searchPlaceHolder' | translate}}"
                            (input)="searchEvent($event)" />
                    </span>
                    <button pRipple pButton class="p-button-outlined"
                        label="{{ 'SearchPage.btnFilterLabel' | translate}}" icon="pi pi-filter"
                        (click)="showFilterDialog()"></button>
                </div>
            </div>
            <p-table styleClass="search__table" [value]="users" [paginator]="true" [rows]="10"
                [showCurrentPageReport]="false" [tableStyle]="{'min-width': '50rem'}" [rowsPerPageOptions]="[10,20,30]">
                <ng-template pTemplate="header" let-user>
                    <tr>
                        <th style="width: 20%;">{{'SearchPage.avatarColumnHeader' | translate}}</th>
                        <th style="width: 10%;">{{'SearchPage.genderColumnHeader' | translate}}</th>
                        <th style="width: 10%;">{{'SearchPage.dobColumnHeader' | translate}}</th>
                        <th style="width: 20%;">{{'SearchPage.mailColumnHeader' | translate}}</th>
                        <th style="width: 15%;">{{'SearchPage.phoneColumnheader' | translate}}</th>
                        <th style="width: 15%;">{{'SearchPage.statusColumnHeader' | translate}}</th>
                        <th style="width: 10%; ">{{'SearchPage.actionColumnHeader' | translate}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td class="table__col-avatar">
                            <p-avatar image="{{user.f.avatar}}" shape="circle"></p-avatar>
                            <div class="col__content">
                                <span>{{user.f.full_name}}</span>
                                <p>{{user.f.role}}</p>
                            </div>
                        </td>
                        <td>{{user.f.gender}}</td>
                        <td>{{user.f.birthday}}</td>
                        <td>{{user.f.email}}</td>
                        <td>{{user.f.phone_number}}</td>
                        <td class="table__col-status">
                            <i class="pi pi-circle-fill" style="font-size: 10px; margin-right: 4px;"></i>
                            <span>{{user.f.status}}</span>
                        </td>
                        <td class="text-center">
                            <button>
                                <i class="pi pi-ellipsis-h"></i>
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <p-dialog header="{{ 'SearchPage.btnFilterLabel' | translate}}" [(visible)]="displayFilterButton" [modal]="true"
        [style]="{width: '40vw'}" [draggable]="false" [resizable]="false" styleClass="search__dialog-filter">
        <form [formGroup]="reactiveSkillDomainForm">
            <p-dropdown styleClass="filter__form" formControlName="skillDomainsControl" [options]="skillDomains"
                optionLabel="domain_name" placeholder="{{ 'SearchPage.dialogFilterPlaceholder' | translate}}"
                (onChange)="addToChip($event.value)"></p-dropdown>
        </form>
        <p-chip [removable]="true" *ngFor="let item of selectedDomainsWithPoints">
            <span class="domain__value-name">{{item.domain.domain_name}}</span>
            <span class="domain__value-point" id="pointValue">{{item.point}}</span>
        </p-chip>
        <div class="filter__btn-point">
            <h6>{{ 'SearchPage.dialogFilterPlaceholder' | translate}}</h6>
            <ng-container *ngFor="let point of points">
                <button value="{{point}}" pButton label="{{point}}" (click)="addPoint(point)"
                    class="p-button-outlined p-button-rounded btn__point-number"></button>
            </ng-container>
        </div>
        <div class="filter__btn-control">
            <button pButton type="button" class="p-button-outlined p-button-rounded"
                label="{{ 'GeneralMessage.btnCancelLabel' | translate}}"></button>
            <button pButton type="submit" class="p-button-rounded"
                label="{{ 'GeneralMessage.btnSubmitLabel' | translate}}"></button>
        </div>
    </p-dialog>
</div>