<div class="primary-frame">
    <div class="container-fluid mx-auto primary-frame">
        <div class="container">
            <div class="search__frame-header">{{form.form_name}}</div>
        </div>
    </div>

    <div class="container-fluid mx-auto" style="border-radius: 30px 30px 0 0; background: white;">
        <div class="container">
            <div class="search__frame">
                <div class="search__frame-bar">
                    <button pRipple pButton class="p-button-outlined" label="Back" icon="pi pi-arrow-left"
                        (click)="backToHomePage()"></button>
                    <span class="p-input-icon-left search__bar">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText placeholder="Search" (input)="searchEvent($event)" />
                    </span>
                    <button pRipple pButton class="p-button-outlined" label="Filter" icon="pi pi-filter"
                        (click)="showFilterDialog()"></button>
                </div>
            </div>
            <p-table styleClass="search__table" [value]="users" [paginator]="true" [rows]="10"
                [showCurrentPageReport]="false" [tableStyle]="{'min-width': '50rem'}" [rowsPerPageOptions]="[10,20,30]">
                <ng-template pTemplate="header" let-user>
                    <tr>
                        <th style="width: 20%;">Avatar</th>
                        <th style="width: 10%;">Gender</th>
                        <th style="width: 10%;">Birthday</th>
                        <th style="width: 20%;">E-mail</th>
                        <th style="width: 15%;">Phone</th>
                        <th style="width: 15%;">Status</th>
                        <th style="width: 10%; ">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td class="table__col-avatar">
                            <p-avatar image="{{user.f.avatar}}" shape="circle"></p-avatar>
                            <div class="col__content">
                                <span>{{user.f.full_name}}</span>
                                <p>{{user.f.role}}</p>
                            </div>
                        </td>
                        <td>{{user.f.gender}}</td>
                        <td>{{user.f.birthday}}</td>
                        <td>{{user.f.email}}</td>
                        <td>{{user.f.phone_number}}</td>
                        <td class="table__col-status">
                            <i class="pi pi-circle-fill" style="font-size: 10px; margin-right: 4px;"></i>
                            <span>{{user.f.status}}</span>
                        </td>
                        <td class="text-center"><button><i class="pi pi-ellipsis-h"
                                    style="color: #7a7a7a;"></i></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <p-dialog header="Filter" [(visible)]="displayFilterButton" [modal]="true" [style]="{width: '40vw'}"
        [draggable]="false" [resizable]="false" styleClass="search__dialog-filter">
        <form [formGroup]="reactiveSkillDomainForm">
            <p-dropdown styleClass="filter__form" formControlName="skillDomainsControl" [options]="skillDomains"
                optionLabel="domain_name" placeholder="Domain name" (onChange)="addToChip($event.value)"></p-dropdown>
        </form>
        <p-chip [removable]="true" *ngFor="let item of selectedDomainsWithPoints">
            <span class="domain__value-name">{{item.domain.domain_name}}</span>
            <span class="domain__value-point" id="pointValue">{{item.point}}</span>
        </p-chip>
        <div class="filter__btn-point">
            <h6>Domain name</h6>
            <ng-container *ngFor="let point of points">
                <button value="{{point}}" pButton label="{{point}}" (click)="addPoint(point)"
                    class="p-button-outlined p-button-rounded btn__point-number"></button>
            </ng-container>
        </div>
        <div class="filter__btn-control">
            <button pButton type="button" class="p-button-outlined p-button-rounded" label="Cancel"></button>
            <button pButton type="submit" class="p-button-rounded" label="Submit"></button>
        </div>
    </p-dialog>
</div>