<form class="step__form">
    <div class="step__form-result">
        <h5>Survey about something</h5>
        <div class="d-flex result__date">
            Start date<span>to</span>Deadline<span>(22 days)</span>
        </div>
        <p>Form description</p>
    </div>
    <div class="step__form-frame">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                Skill Domain
                <span style="margin-left: 8px; color: rgb(255, 215, 103);">4.5</span>
            </ng-template>
            <ng-template pTemplate="icons">
                <p-menu #menu [popup]="true">
                </p-menu>
            </ng-template>
            <div class="radio__header d-flex mb-2">
                <div class="col-2"></div>
                <div class="radio__labels col-10">
                    <label for="0">0</label>
                    <label for="1">1</label>
                    <label for="2">2</label>
                    <label for="3">3</label>
                    <label for="4">4</label>
                    <label for="5">5</label>
                </div>
            </div>
            <div class="radio__form d-flex align-items-center">
                <div class="col-2">
                    <span>Skill name</span>
                </div>
                <div class="radio__options col-10">
                    <p-radioButton id="0" name="number" [(ngModel)]="selectedValue" value="0">0</p-radioButton>
                    <p-radioButton id="1" name="number" [(ngModel)]="selectedValue" value="1">0</p-radioButton>
                    <p-radioButton id="2" name="number" [(ngModel)]="selectedValue" value="2"></p-radioButton>
                    <p-radioButton id="3" name="number" [(ngModel)]="selectedValue" value="3"></p-radioButton>
                    <p-radioButton id="4" name="number" [(ngModel)]="selectedValue" value="4"></p-radioButton>
                    <p-radioButton id="5" name="number" [(ngModel)]="selectedValue" value="5"></p-radioButton>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="step3__form-btn text-end">
        <button class="btn__previous" type="button" pButton pRipple icon="pi pi-arrow-left" label="Back"
            (click)="previousPage()"></button>
        <p-splitButton [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" [model]="items" label="Submit"
            icon="pi pi-send" pRipple></p-splitButton>
    </div>
</form>