<p-toast position="top-center"></p-toast>
<div class="container form__info">
    <div class="form__info-header">
        <p-avatar image="{{currentUser.avatar}}" shape="circle"></p-avatar>
        <div class="align-self-center">
            <span class="user__name">{{currentUser.full_name}}</span>
            <p class="user__role">{{currentUser.role}}</p>
        </div>
        <button pButton label="{{ 'GeneralMessage.btnEditLabel' | translate }}" icon="pi pi-file-edit"
            (click)="showEditInfoDialog()"></button>
    </div>
    <div class="row form__info-show">
        <div class="d-flex justify-content-between form__info-title">
            <h4>{{ 'ProfilePage.frameTitle' | translate }}</h4>
        </div>
        <div class="col-6 form__info-content">
            <div class="form__row d-flex">
                <p>{{ 'ProfilePage.mailLabel' | translate }}</p>
                <input pInputText type="text" value="{{currentUser.email}}" disabled>
            </div>
            <div class="form__row d-flex">
                <p>{{ 'ProfilePage.fullNameLabel' | translate }}</p>
                <input pInputText type="text" value="{{currentUser.full_name}}" disabled>
            </div>
            <div class="form__row d-flex">
                <p>{{ 'ProfilePage.dobLabel' | translate }}</p>
                <input pInputText type="text" value="{{currentUser.birthday}}" disabled>
            </div>
            <div class="form__row d-flex">
                <p>{{ 'ProfilePage.genderLabel' | translate }}</p>
                <input pInputText type="text" value="{{currentUser.gender}}" disabled>
            </div>
            <div class="form__row d-flex">
                <p>{{ 'ProfilePage.phoneLabel' | translate }}</p>
                <input pInputText type="text" value="{{currentUser.phone_number}}" disabled>
            </div>
            <div class="form__row d-flex">
                <p>{{ 'ProfilePage.teamLabel' | translate }}</p>
                <input pInputText type="text" value="{{currentUser.team}}" disabled>
            </div>
        </div>
        <div class="col-6 pt-2 form__info-link">
            <ul>
                <li><a href="">{{ 'ProfilePage.firstServiceLabel' | translate }}</a></li>
                <li><a href="">{{ 'ProfilePage.secondServiceLabel' | translate }}</a></li>
                <li><a href="">{{ 'ProfilePage.thirdServiceLabel' | translate }}</a></li>
            </ul>
        </div>
    </div>
</div>

<p-dialog header="{{ 'ProfilePage.editFormTitle' | translate }}" [(visible)]="displayEditInfoButton" [modal]="true"
    [style]="{width: '50vw'}" [draggable]="false" [resizable]="false" styleClass="form__dialog-edit">
    <form [formGroup]="formUpdate">
        <div class="form__avatar">for avatar</div>
        <div class="form__edit">
            <div class="form__row">
                <p>{{ 'ProfilePage.mailLabel' | translate }}</p>
                <input name="email" pInputText type="text" value="{{currentUser.email}}">
            </div>
            <div class="form__row">
                <p>{{ 'ProfilePage.fullNameLabel' | translate }}</p>
                <input name="full_name" pInputText type="text" value="{{currentUser.full_name}}">
            </div>
            <div class="form__row">
                <p>{{ 'ProfilePage.dobLabel' | translate }}</p>
                <input name="birthday" pInputText type="date" value="{{currentUser.birthday}}">
            </div>
            <div class="form__row">
                <p>{{ 'ProfilePage.genderLabel' | translate }}</p>
                <input pInputText type="text" value="{{currentUser.gender}}">
            </div>
            <div class="form__row">
                <p>{{ 'ProfilePage.phoneLabel' | translate }}</p>
                <input name="phone_number" pInputText type="text" value="{{currentUser.phone_number}}">
            </div>
            <div class="form__row">
                <p>{{ 'ProfilePage.teamLabel' | translate }}</p>
                <p-dropdown name="team" [options]="teams" optionLabel="team_name"></p-dropdown>
            </div>
        </div>
        <div>
            <div class="dialog__btn-control">
                <button pButton type="button" (click)="displayEditInfoButton=false"
                    class="p-button-outlined p-button-rounded"
                    label="{{ 'GeneralMessage.btnCancelLabel' | translate }}"></button>
                <button pButton type="submit" class="p-button-rounded"
                    label="{{ 'GeneralMessage.btnSubmitLabel' | translate }}" (click)="updateUser()"></button>
            </div>
        </div>
    </form>
</p-dialog>