<nav *ngIf="navbarService.isNavbar" class="navbar container-fluid">
    <div class="container mx-auto d-flex justify-content-between align-items-center">
        <div class="navbar__left">
            <a class="navbar__brand" routerLink="/">
                <span class="first-word">SKILLMAT</span>
                <span class="second-word">TOOLRIX</span>
            </a>
        </div>
        <div class="navbar__right d-flex">
            <button class="navbar__right-icon">
                <i class="pi pi-globe" style="color: white; font-size: 20px;"></i>
            </button>
            <div class="dropdown">
                <button class="navbar__right-icon btn__notification" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="pi pi-bell" style="color: white; font-size: 20px;"></i>
                    <span id="notiCount"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end noti__menu" (change)="closeNotification()">
                    <p class="menu__header">Notification</p>
                    <li *ngFor="let notification of notifications"><a href="" class="noti__link">
                            <div class="noti__card">
                                <p-avatar image="{{notification.user.avatar}}" shape="circle"
                                    class="noti__avatar"></p-avatar>
                                <div class="noti__content" [style.font-weight]="isNewNotification ? '700' : '400'">
                                    <p class="noti__message">{{notification.message}}</p>
                                    <p class="noti__time">{{notification.create_at}}</p>
                                </div>
                            </div>
                        </a></li>
                </ul>
            </div>
            <div class="navbar__frame-user d-flex">
                <div class="user__content d-flex">
                    <p-avatar image="" shape="circle" class="user__avatar"></p-avatar>
                    <div class="user__info">
                        <p class="user__name">Trần Lương Thành Tín</p>
                        <p>Ad. information</p>
                    </div>
                </div>
                <button type="button" (click)="userMenu.toggle($event)">
                    <i class="pi pi-chevron-down" style="color: white; font-size: 20px;"></i>
                </button>
                <p-menu class="user__menu" #userMenu [popup]="true" [model]="profileTagItems"></p-menu>
            </div>
        </div>
    </div>
</nav>