<div class="row vh-100">
    <div class="col-6 background"></div>
    <div class="col-6 form__container">
        <div class="container">
            <!--Success toast-->
            <p-toast position="top-center"></p-toast>
            <!--REGISTER FORM-->
            <form *ngIf="!isLoginForm" class="form form__register" id="formRegister" [formGroup]="registerForm"
                method="POST" (submit)="registerUserSubmit()">
                <p class="form__title">{{ 'LoginPage.registerTitle' | translate}}</p>
                <!--Full name-->
                <div class="form__row">
                    <label for="fname">{{ 'LoginPage.fullNameLabel' | translate}}</label>
                    <div class="form__input">
                        <input type="text" pInputText formControlName="fname" id="fname" autocomplete="name"
                            placeholder="{{ 'LoginPage.fullNamePlaceholder' | translate}}" name="fname"
                            [(ngModel)]="user.full_name" />
                        <small
                            *ngIf="registerForm.get('fname')?.hasError('required') && (registerForm.get('fname')?.touched || registerForm.get('fname')?.dirty)">{{
                            'GeneralMessage.fieldRequiredMessage' | translate}}</small>
                    </div>
                </div>
                <!--E-mail-->
                <div class="form__row">
                    <label for="emailRes">{{ 'LoginPage.mailLabel' | translate}}</label>
                    <div class="form__input">
                        <input type="email" pInputText formControlName="email" id="emailRes" autocomplete="email"
                            placeholder="{{ 'LoginPage.mailPlaceholder' | translate}}" name="email"
                            [(ngModel)]="user.email" />
                        <small
                            *ngIf="registerForm.get('email')?.hasError('required') && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)">
                            {{'GeneralMessage.fieldRequiredMessage' | translate}}
                        </small>
                        <!-- <small
                            *ngIf="registerForm.get('email')?.hasError('email') && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)">
                            Invalid email format.
                        </small> -->
                    </div>
                </div>
                <!--Dob-->
                <div class="form__row">
                    <label for="dob">{{ 'LoginPage.dobLabel' | translate}}</label>
                    <div class="form__input">
                        <input type="date" [max]="calculateMaxDate()" pInputText formControlName="dob" id="dob"
                            name="dob" [(ngModel)]="user.birthday" autocomplete="bday" />
                        <small
                            *ngIf="registerForm.get('dob')?.hasError('required') && (registerForm.get('dob')?.touched || registerForm.get('dob')?.dirty)">
                            {{ 'GeneralMessage.fieldRequiredMessage' | translate}}
                        </small>
                        <!-- <small
                            *ngIf="registerForm.get('dob')?.hasError('invalidDate') && !registerForm.get('dob')?.hasError('required') && (registerForm.get('dob')?.touched || registerForm.get('dob')?.dirty)">
                            Invalid date format.
                        </small> -->
                    </div>
                </div>
                <!--Gender-->
                <div class="form__row">
                    <label>{{ 'LoginPage.genderLabel' | translate}}</label>
                    <div class="form__input-gender">
                        <input class="p-radiobutton" type="radio" name="gender" value="Female" id="female"
                            formControlName="gender" [(ngModel)]="user.gender">
                        <label for="female">{{ 'LoginPage.femaleLabel' | translate}}</label>
                        <input class="p-radiobutton" type="radio" name="gender" value="Male" id="male"
                            formControlName="gender" [(ngModel)]="user.gender">
                        <label for="male">{{ 'LoginPage.maleLabel' | translate}}</label>
                    </div>
                </div>
                <!--Phone number-->
                <div class="form__row">
                    <label for="phone">{{ 'LoginPage.phoneLabel' | translate}}</label>
                    <div class="form__input">
                        <input type="tel" minlength="10" pInputText formControlName="phone"
                            placeholder="{{ 'LoginPage.phonePlaceholder' | translate}}" name="phone" id="phone"
                            [(ngModel)]="user.phone_number" autocomplete="tel" />
                        <small
                            *ngIf="registerForm.get('phone')?.hasError('required') && (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty)">
                            {{'GeneralMessage.fieldRequiredMessage' | translate}}
                        </small>
                        <!--  <small
                            *ngIf="registerForm.get('phone')?.hasError('invalidPhone') && !registerForm.get('phone')?.hasError('required') &&  (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty)">
                            Invalid phone number format.
                        </small> -->
                    </div>
                </div>
                <!--Password-->
                <div class="form__row">
                    <label for="passwordRes">{{ 'LoginPage.passwordLabel' | translate}}</label>
                    <div class="form__input">
                        <div class="form__row-password">
                            <input type="{{hide? 'password': 'text'}}" name="password"
                                placeholder="{{ 'LoginPage.passwordPlaceholder' | translate}}"
                                formControlName="password" id="passwordRes" [(ngModel)]="user.password"
                                autocomplete="new-password" />
                            <button type="button" class="btn__visibility" (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"><span
                                    class="material-icons md-24">{{hide?
                                    'visibility' :
                                    'visibility_off'}}</span></button>
                        </div>
                        <small
                            *ngIf="registerForm.get('password')?.hasError('required') && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)">
                            {{'GeneralMessage.fieldRequiredMessage' | translate}}
                        </small>
                    </div>
                </div>
                <!--Confirm password-->
                <div class="form__row">
                    <label for="cfpassword">{{ 'LoginPage.confirmPasswordLabel' | translate}}</label>
                    <div class="form__input">
                        <div class="form__row-password">
                            <input type="{{cfhide? 'password': 'text'}}" id="cfpassword" name="cfpassword"
                                placeholder="{{ 'LoginPage.confirmPasswordPlaceholder' | translate}}"
                                formControlName="confirm" />
                            <button type="button" class="btn__visibility" (click)="cfhide = !cfhide"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="cfhide"><span
                                    class="material-icons md-24">{{cfhide?
                                    'visibility' :
                                    'visibility_off'}}</span></button>
                        </div>
                        <small
                            *ngIf="registerForm.get('confirm')?.hasError('required') && (registerForm.get('confirm')?.touched || registerForm.get('confirm')?.dirty)">
                            {{'GeneralMessage.fieldRequiredMessage'}}
                        </small>
                        <!-- <small
                            *ngIf="registerForm.get('confirm')?.hasError('confirmPassword') && (registerForm.get('confirm')?.touched || registerForm.get('confirm')?.dirty)">
                            Password does not match.
                        </small> -->
                    </div>
                </div>
                <!--Submit-->
                <div class="form__row">
                    <div class="form__row-connect">
                        <p>{{ 'LoginPage.loginDemand' | translate}}</p>
                        <button type="button" (click)="isLoginForm = !isLoginForm">
                            <ng-container *ngIf="isLoginForm; else elseBlock">
                                {{ 'LoginPage.registerTitle' | translate }}
                            </ng-container>
                            <ng-template #elseBlock>
                                {{ 'LoginPage.loginTitle' | translate }}
                            </ng-template>
                        </button>
                    </div>
                    <button pButton pRipple type="submit" label="{{ 'LoginPage.registerTitle' | translate }}"
                        class="p-button-secondary btn__submit"></button>
                </div>
            </form>

            <!--LOGIN FORM-->
            <form *ngIf="isLoginForm" class="form form__login vh-100" id="formLogin" [formGroup]="loginForm"
                (submit)="loginSubmit()">
                <div class="container">
                    <p class="form__title">{{ 'LoginPage.loginTitle' | translate }}</p>
                    <!--E-mail-->
                    <div class="form__row">
                        <label for="email">{{ 'LoginPage.mailLabel' | translate}}</label>
                        <div class="form__input">
                            <input type="email" pInputText id="email" formControlName="email"
                                placeholder="{{ 'LoginPage.mailPlaceholder' | translate}}" name="email" />
                            <small
                                *ngIf="loginForm.get('email')?.hasError('required') && (loginForm.get('email')?.touched || registerForm.get('email')?.dirty)">
                                {{'GeneralMessage.fieldRequiredMessage' | translate}}
                            </small>
                        </div>
                    </div>
                    <!--Password-->
                    <div class="form__row">
                        <label for="password">{{ 'LoginPage.passwordLabel' | translate}}</label>
                        <div class="form__input">
                            <div class="form__row-password">
                                <input type="{{hide? 'password': 'text'}}" id="password" name="password"
                                    placeholder="{{ 'LoginPage.passwordPlaceholder' | translate}}"
                                    formControlName="password">
                                <button type="button" class="btn__visibility" (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"><span
                                        class="material-icons md-24">{{hide?
                                        'visibility' :
                                        'visibility_off'}}</span></button>
                            </div>
                            <small
                                *ngIf="loginForm.get('password')?.hasError('required') && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
                                {{'GeneralMessage.fieldRequiredMessage' | translate}}
                            </small>
                        </div>
                    </div>
                    <!--Submit-->
                    <div class="form__row">
                        <div class="form__row-connect">
                            <p>{{ 'LoginPage.registerDemand' | translate}}</p>
                            <button type="button" (click)="isLoginForm = !isLoginForm"> <ng-container
                                    *ngIf="isLoginForm; else elseBlock">
                                    {{ 'LoginPage.registerTitle' | translate }}
                                </ng-container>
                                <ng-template #elseBlock>
                                    {{ 'LoginPage.loginTitle' | translate }}
                                </ng-template></button>
                        </div>
                        <button pButton pRipple type="submit" label="{{ 'LoginPage.loginTitle' | translate }}"
                            class="p-button-secondary btn__submit"></button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>