<p-toast position="top-center"></p-toast>
<div class="container-fluid primary-frame">
    <div class="container mx-auto d-flex justify-content-between">
        <div class="edit__frame-header align-items-center d-flex">
            <span class="material-icons">description</span>
            <p>{{form.form_name}}</p>
        </div>
        <div class="d-flex edit__frame-btn">
            <button class="frame__btn-back" pButton icon="pi pi-arrow-left" (click)="backToHomePage()"
                label="{{ 'GeneralMessage.btnBackLabel' | translate}}"></button>
            <button pRipple pButton (click)="editDomainForm($event)">
                <ng-container *ngIf="isEditing; else elseBlock">
                    <i class="pi pi-check me-1"></i>
                    {{'GeneralMessage.btnSaveLabel' | translate}}
                </ng-container>
                <ng-template #elseBlock>
                    <i class="pi pi-file-edit me-1"></i>
                    {{'GeneralMessage.btnEditLabel' | translate}}
                </ng-template>
            </button>
        </div>
    </div>
</div>
<div class="container mx-auto row edit__frame-content">
    <div class="frame__profile">
        <div class="frame__profile-card text-center">
            <p-avatar image={{user.avatar}}></p-avatar>
            <p class="card__title">{{user.full_name}}</p>
            <p class="card__subtitle">{{user.role}}</p>
            <button pButton pRipple label="{{ 'DetailPage.btnViewProfileLabel' | translate}}"></button>
        </div>
    </div>
    <div class="frame__form">
        <ng-container *ngFor="let domain of domains">
            <p-panel [collapsed]="!isPanelEnabled" [toggleable]="true">

                <ng-template pTemplate="header">
                    {{domain.domain_name}}
                    <span class="form__point"></span>
                </ng-template>
                <ng-template pTemplate="icons">
                    <p-menu #menu [popup]="true">
                    </p-menu>
                </ng-template>
                <div class="radio__header d-flex mb-2">
                    <div class="col-2"></div>
                    <div class="radio__labels col-10">
                        <label *ngFor="let point of points" for={{point}}>{{point}}</label>
                    </div>
                </div>
                <div *ngFor="let skill of skills">
                    <div *ngIf="skill.skill_domain?.domain_name?.toLowerCase() === domain.domain_name.toLowerCase()">
                        <div class="radio__form d-flex align-items-center mb-4">
                            <div class="col-2">
                                <span class="skill__name">{{skill.skill_name}}</span>
                            </div>
                            <div class="radio__options col-10">
                                <p-radioButton *ngFor="let point of points" id={{point}} name="number" value={{point}}
                                    [(ngModel)]="selectedValue" [disabled]="!isEditing"></p-radioButton>
                            </div>
                        </div>
                    </div>
                </div>
            </p-panel>
        </ng-container>
    </div>
</div>