<div class="frame">
    <div class="main__first-frame">
        <div class="container">
            <div class="main__frame-action d-flex ">
                <button pRipple class="action__create" routerLink="/create">
                    <i class="pi pi-plus" style="color: #767676; font-size: 40px;"></i>
                    <p>create form</p>
                </button>
                <button pRipple class="action__upload" (click)="showUploadDialog()">
                    <i class="pi pi-upload" style="color: #767676; font-size: 40px;"></i>
                    <p>upload survey</p>
                </button>
            </div>
            <div class="main__frame-filter d-flex">
                <label>{{homePageText.mainFirstBar}}</label>
                <div class="filter__bar-right d-flex">
                    <form class="filter__searchbar p-input-icon-right" (submit)="submitSearchForm()">
                        <input type="text" pInputText placeholder="Search" (input)="onSearch($event)">
                        <i class="pi pi-search" style="color: #7a7a7a; font-size: 24px;"></i>
                    </form>
                    <button class="filter__btn">
                        <i class="pi pi-sort-alpha-down" style="color: #7a7a7a; font-size: 24px;"></i>
                    </button>
                    <button class="filter__time d-flex">
                        <p>Select time</p>
                        <i class="pi pi-angle-down" style="font-size: 16px;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="main__second-frame">
        <div class="container">
            <p-tabView class="main__tabview">
                <!-- Assign me -->
                <p-tabPanel header="Assign me" headerStyleClass="tabpanel__header">
                    <p-table [value]="formsAssign" [paginator]="true" [rows]="10" [showCurrentPageReport]="false"
                        [tableStyle]="{'min-width': '50rem'}" [rowsPerPageOptions]="[10,20,30]">
                        <ng-template pTemplate="body" let-form>
                            <tr>
                                <td>
                                    <div class="card__body">
                                        <div class="card__content">
                                            <span class="material-icons"
                                                style="font-size: 48px; color: rgb(103, 0, 172);">description</span>
                                            <div class="card__info">
                                                <a class="card__title" role="button"
                                                    (click)="getFormAsignMe(form.forms._id)">{{form.forms.form_name}}</a>
                                                <p class="card__subtitle">{{form.forms.user.full_name}}</p>
                                                <p class="card__subtitle">{{form.forms.create_date | date}}</p>
                                            </div>
                                        </div>
                                        <button><i class="pi pi-ellipsis-h" style="color: #7a7a7a;"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td>{{homePageText.noFormFound}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <!-- Owner by me -->
                <p-tabPanel header="Owner by me" headerStyleClass="tabpanel__header">
                    <p-table [value]="formsOwner" [paginator]="true" [rows]="10" [showCurrentPageReport]="false"
                        [tableStyle]="{'min-width': '50rem'}" [rowsPerPageOptions]="[10,20,30]">
                        <ng-template pTemplate="body" let-form>
                            <tr>
                                <td>
                                    <div class="card__body">
                                        <div class="card__content">
                                            <span class="material-icons"
                                                style="font-size: 48px; color: rgb(103, 0, 172);">description</span>
                                            <div class="card__info">
                                                <a class="card__title" role="button"
                                                    (click)="getFormOwnerByMe(form._id)">{{form.form_name}}</a>
                                                <p class="card__subtitle">{{form.user.full_name}}</p>
                                                <p class="card__subtitle">{{form.create_date | date}}</p>
                                            </div>
                                        </div>
                                        <button><i class="pi pi-ellipsis-h" style="color: #7a7a7a;"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td>No forms found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <!-- Draft -->
                <p-tabPanel header="Draft" headerStyleClass="tabpanel__header">
                </p-tabPanel>
                <!-- Domain -->
                <p-tabPanel header="Domain" headerStyleClass="tabpanel__header">
                    <div class="tabpanel__search-bar w-100 d-flex">
                        <span class="p-input-icon-left w-100">
                            <i class="pi pi-search"></i>
                            <input type="text" class="w-100" pInputText placeholder="Search" [(ngModel)]="value3" />
                        </span>
                        <button pButton icon="pi pi-plus" label="ADD" (click)="showAddDomainDialog()"></button>
                    </div>
                    <p-panel id="" class="domain__panel" [toggleable]="true" [collapsed]="true">
                        <ng-template pTemplate="header">
                            <span id="" class="domain__name">Domain name</span>
                        </ng-template>
                        <ng-template pTemplate="icons">
                            <button pButton class="p-panel-header-icon p-link" (click)="showEditDomainDialog()">
                                <span class="pi pi-file-edit"></span>
                            </button>
                            <button pButton class="p-panel-header-icon p-link" (click)="removePanel()">
                                <span class="pi pi-trash"></span>
                            </button>
                            <p-menu #menu [popup]="true">
                            </p-menu>
                        </ng-template>
                        <div class="radio__header d-flex mb-2">
                            <div class="col-2"></div>
                            <div class="radio__labels col-9">
                                <label for="0">0</label>
                                <label for="1">1</label>
                                <label for="2">2</label>
                                <label for="3">3</label>
                                <label for="4">4</label>
                                <label for="5">5</label>
                            </div>
                        </div>
                        <div class="radio__form d-flex align-items-center mb-4" id="">
                            <div class="col-2">
                                <span id="" class="skill__name">Skill name</span>
                            </div>
                            <div class="radio__options col-9">
                                <p-radioButton id="0" name="number" [(ngModel)]="selectedValue" value="0"
                                    [disabled]="true"></p-radioButton>
                                <p-radioButton id="1" name="number" [(ngModel)]="selectedValue" value="1"
                                    [disabled]="true"></p-radioButton>
                                <p-radioButton id="2" name="number" [(ngModel)]="selectedValue" value="2"
                                    [disabled]="true"></p-radioButton>
                                <p-radioButton id="3" name="number" [(ngModel)]="selectedValue" value="3"
                                    [disabled]="true"></p-radioButton>
                                <p-radioButton id="4" name="number" [(ngModel)]="selectedValue" value="4"
                                    [disabled]="true"></p-radioButton>
                                <p-radioButton id="5" name="number" [(ngModel)]="selectedValue" value="5"
                                    [disabled]="true"></p-radioButton>
                            </div>
                        </div>
                    </p-panel>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
    <!-- dialog for uploading survey -->
    <p-dialog header="Upload Excel" [(visible)]="displayUploadButton" [modal]="true" [style]="{width: '50vw'}"
        [draggable]="false" [resizable]="false" styleClass="main__dialog-upload">
        <p class="dialog__content"><a href="../../../assets/file/WSI_SkillMatrix.xlsx"
                download="DomainForm">{{homePageText.uploadFileHeader}}</a></p>
        <form class="dialog__form-upload" method="post" (drop)="onFileDrop($event)" (dragover)="onDragOver($event)"
            (dragleave)="onDragLeave($event)">
            <div class="form__upload">
                <i class="pi pi-inbox" style="font-size: 36px;"></i>
                <input type="file" id="file" name="file" accept=".xls,.xlsx" class="upload__input"
                    (change)="onFileInputChange($event)" multiple #fileUpload>
                <label for="file" id="fileLabel" [ngClass]="{'drag-over': isDragOver}">Click or drag file to this area
                    to upload</label>
                <p>Support for a single or bulk upload. Strictly prohibit from uploading company data or other band
                    files
                </p>
                <button pButton class="upload__btn" type="submit" (click)="onUploadFile()"
                    *ngIf="fileSelected">Upload</button>
            </div>
        </form>
    </p-dialog>
    <!-- dialog for creating domain-->
    <p-dialog header="Add Domain" [(visible)]="displayAddDomainButton" [modal]="true" [style]="{width: '40vw'}"
        [draggable]="false" [resizable]="false" styleClass="dialog__create-domain">

    </p-dialog>
    <!-- dialog edit domain panel -->
    <p-dialog header="Edit Domain" [(visible)]="displayEditDomainButton" [modal]="true" [style]="{width: '40vw'}"
        [draggable]="false" [resizable]="false" styleClass="main__dialog-edit">
        <div class="dialog__content-domain">
            <h6>Domain name</h6>
            <input class="w-100" type="text" pInputText>
            <p class="m-0">Skill name</p>
            <p-chips>
                <ng-template let-item pTemplate="item">{{item}}</ng-template>
            </p-chips>
        </div>
        <div class="">
            <h6>Skill name</h6>
            <input class="w-100" type="text" pInputText>
        </div>
        <div class="">
            <p class="dialog__content"><a href="../../../assets/file/WSI_SkillMatrix.xlsx"
                    download="DomainForm">{{homePageText.uploadFileHeader}}</a></p>
            <form class="dialog__form-upload" method="post" (drop)="onFileDrop($event)" (dragover)="onDragOver($event)"
                (dragleave)="onDragLeave($event)">
                <div class="form__upload">
                    <i class="pi pi-inbox" style="font-size: 36px;"></i>
                    <input type="file" id="file" name="file" accept=".xls,.xlsx" class="upload__input"
                        (change)="onFileInputChange($event)" multiple #fileUpload>
                    <label for="file" id="fileLabel" [ngClass]="{'drag-over': isDragOver}">Click or drag file to this
                        area
                        to upload</label>
                    <p>Support for a single or bulk upload. Strictly prohibit from uploading company data or other band
                        files
                    </p>
                    <button pButton class="upload__btn" type="submit" (click)="onUploadFile()"
                        *ngIf="fileSelected">Upload</button>
                </div>
            </form>
        </div>
    </p-dialog>
</div>