<p-toast position="top-center"></p-toast>
<div class="primary-frame">
    <div class="container-fluid mx-auto first__frame">
        <div class="container">
            <div class="create__frame-header">{{'CreatePage.frameTitle' | translate}}</div>
        </div>
    </div>
    <div class="container-fluid mx-auto second__frame">
        <div class="container">
            <div class="step__frame">
                <p-steps [model]="items" [readonly]="false" [activeIndex]="currentStep"></p-steps>
            </div>
            <ng-container>
                <!-- Step 1 -->
                <form method="post">
                    <div [formGroup]="firstStepForm" class="step__form-first"
                        *ngIf="isFirstStep && !isSecondStep && !isThirdStep">
                        <div class="step__form-row">
                            <label for="formName">{{'CreatePage.formNameLabel' | translate}}</label>
                            <input formControlName="formName" class="form__input" type="text" name="formName" pInputText
                                placeholder="{{'CreatePage.formNamePlaceholder' | translate}}">
                            <small
                                *ngIf="firstStepForm.get('formName')?.hasError('required') && (firstStepForm.get('formName')?.touched || firstStepForm.get('formName')?.dirty)">
                                {{'GeneralMessage.fieldRequiredMessage' | translate}}
                            </small>
                        </div>
                        <div class="step__form-row">
                            <label for="formDescription">{{'CreatePage.descriptionLabel' | translate}}</label>
                            <textarea formControlName="formDescription" class="form__input" name="formDescription"
                                type="text" pInputTextarea
                                placeholder="{{'CreatePage.descriptionPlaceholder' | translate}}" rows="10"></textarea>
                            <small
                                *ngIf="firstStepForm.get('formDescription')?.hasError('required') && (firstStepForm.get('formDescription')?.touched || firstStepForm.get('formDescription')?.dirty)">
                                {{'GeneralMessage.fieldRequiredMessage' | translate}}
                            </small>
                        </div>
                        <div class="step__form-btn text-end">
                            <button pButton pRipple icon="pi pi-arrow-right"
                                label="{{'CreatePage.btnNextLabel' | translate}}" iconPos="right"
                                (click)="navigateToSecondStep()"></button>
                        </div>
                    </div>
                    <!-- Step 2 -->
                    <div [formGroup]="secondStepForm" class="step__form-second"
                        *ngIf="!isFirstStep && isSecondStep && !isThirdStep">
                        <div class="row">
                            <div class="step__form-row col-6">
                                <label for="formStartTime">{{'CreatePage.startDateLabel' | translate}}</label>
                                <input formControlName="formStartTime" type="date" class="form__input" pInputText
                                    id="startdate" [defaultValue]="formStartTime">
                                <small
                                    *ngIf="secondStepForm.get('formStartTime')?.hasError('required') && (secondStepForm.get('formStartTime')?.touched || secondStepForm.get('formStartTime')?.dirty)">
                                    {{'GeneralMessage.fieldRequiredMessage' | translate}}
                                </small>
                            </div>
                            <div class="step__form-row col-6">
                                <label for="formDeadline">{{'CreatePage.deadlineDateLabel' | translate}}</label>
                                <input formControlName="formDeadline" class="form__input" type="date" pInputText>
                                <small
                                    *ngIf="secondStepForm.get('formDeadline')?.hasError('required') && (secondStepForm.get('formDeadline')?.touched || secondStepForm.get('formDeadline')?.dirty)">
                                    {{'GeneralMessage.fieldRequiredMessage' | translate}}
                                </small>
                            </div>
                        </div>
                        <div class="step__form-row">
                            <label for="formManager">{{'CreatePage.managerLabel' | translate}}</label>
                            <p-dropdown placeholder="{{'CreatePage.managerPlaceholder' | translate}}"
                                formControlName="formManager" styleClass="form__input px-0" [options]="users"
                                optionLabel="full_name"></p-dropdown>
                        </div>
                        <div class="step__form-row">
                            <label for="formTeam">{{'CreatePage.teamLabel' | translate}}</label>
                            <p-multiSelect formControlName="formTeam" styleClass="form__input px-0"
                                defaultLabel="{{'CreatePage.teamPlaceholder' | translate}}" [(ngModel)]="selectedTeams"
                                [options]="teams" optionLabel="team_name" display="chip"
                                (onChange)="getMemberInTeam(selectedTeams)"></p-multiSelect>
                            <small
                                *ngIf="secondStepForm.get('formTeam')?.hasError('required') && (secondStepForm.get('formTeam')?.touched || secondStepForm.get('formTeam')?.dirty)">
                                {{'GeneralMessage.fieldRequiredMessage' | translate}}
                            </small>
                        </div>
                        <div class="step__form-row">
                            <label for="formMember">{{'CreatePage.memberLabel' | translate}}</label>
                            <p-multiSelect formControlName="formMember" styleClass="form__input px-0"
                                [(ngModel)]="selectedMembers"
                                defaultLabel="{{'CreatePage.memberPlaceholder' | translate}}" [options]="members"
                                optionLabel="full_name" display="chip"></p-multiSelect>
                        </div>
                        <div class="step__form-row">
                            <label for="formDomain">{{'CreatePage.domainLabel' | translate}}</label>
                            <p-multiSelect formControlName="formDomain" styleClass="form__input px-0"
                                placeholder="{{'CreatePage.domainPlaceholder' | translate}}" [options]="domains"
                                optionLabel="domain_name" display="chip"></p-multiSelect>
                            <small
                                *ngIf="secondStepForm.get('formDomain')?.hasError('required') && (secondStepForm.get('formDomain')?.touched || secondStepForm.get('formDomain')?.dirty)">
                                {{'GeneralMessage.fieldRequiredMessage' | translate}}
                            </small>
                        </div>
                        <div class="step__form-btn text-end">
                            <button pButton pRipple icon="pi pi-arrow-left"
                                label="{{'GeneralMessage.btnBackLabel' | translate}}"
                                (click)="navigateToFirstStep()"></button>
                            <button pButton pRipple icon="pi pi-arrow-right"
                                label="{{'CreatePage.btnNextLabel' | translate}}" iconPos="right"
                                (click)="navigateToThirdStep()"></button>
                        </div>
                    </div>
                </form>
                <!-- Step 3 -->
                <div class="step__form-third" *ngIf="!isFirstStep && !isSecondStep && isThirdStep">
                    <div class="step__form-result">
                        <h5>{{form.form_name}}</h5>
                        <div class="d-flex result__date">
                            {{form.create_date}}<span>to</span>{{form.form_deadline}}
                        </div>
                        <p>{{form.form_description}}</p>
                    </div>
                    <div class="step__form-frame">
                        <p-panel [toggleable]="true">
                            <ng-template pTemplate="header">
                                Skill Domain
                                <span>4.5</span>
                            </ng-template>
                            <ng-template pTemplate="icons">
                                <p-menu #menu [popup]="true">
                                </p-menu>
                            </ng-template>
                            <div class="radio__header d-flex mb-2">
                                <div class="col-2"></div>
                                <div class="radio__labels col-10">
                                    <label *ngFor="let point of points" for={{point}}>{{point}}</label>
                                </div>
                            </div>
                            <div class="radio__form d-flex align-items-center">
                                <div class="col-2">
                                    <span>Skill name</span>
                                </div>
                                <div class="radio__options col-10">
                                    <p-radioButton *ngFor="let point of points" id={{point}} name="number"
                                        [(ngModel)]="selectedValue" value={{point}} [disabled]="true"></p-radioButton>
                                </div>
                            </div>
                        </p-panel>
                    </div>
                    <div class=" step3__form-btn text-end">
                        <button class="btn__previous" type="button" pButton pRipple icon="pi pi-arrow-left"
                            label="{{'GeneralMessage.btnBackLabel' | translate}}"
                            (click)="navigateToSecondStep()"></button>
                        <p-splitButton [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"
                            [model]="submitMenuItems" label="{{'GeneralMessage.btnSubmitLabel' | translate}}"
                            icon="pi pi-send" pRipple (onClick)="createForm()"></p-splitButton>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>