@import "../../../../src/styles"

.create__frame-header
    color: $neutro-07
    font-family: $secondary-font
    font-size: 24px
    font-weight: 700
    text-transform: uppercase
    line-height: 500%
