<div class="frame">
    <div class="main__first-frame">
        <div class="container">
            <div class="main__frame-action d-flex ">
                <button pRipple class="action__create" routerLink="/create">
                    <i class="pi pi-plus" style="color: #767676; font-size: 40px;"></i>
                    <p>create form</p>
                </button>
                <button pRipple class="action__upload" (click)="showUploadDialog()">
                    <i class="pi pi-upload" style="color: #767676; font-size: 40px;"></i>
                    <p>upload survey</p>
                </button>
            </div>
            <div class="main__frame-filter d-flex">
                <label>{{homePageText.mainFirstBar}}</label>
                <div class="filter__bar-right d-flex">
                    <form class="filter__searchbar p-input-icon-right" (submit)="submitSearchForm()">
                        <input type="text" pInputText placeholder="Search" (input)="onSearchChangeHome($event)">
                        <i class="pi pi-search" style="color: #7a7a7a; font-size: 24px;"></i>
                    </form>
                    <button class="filter__btn">
                        <i class="pi pi-sort-alpha-down" style="color: #7a7a7a; font-size: 24px;"></i>
                    </button>
                    <button class="filter__time d-flex">
                        <p>Select time</p>
                        <i class="pi pi-angle-down" style="font-size: 16px;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="main__second-frame">
        <div class="container">
            <p-tabView class="main__tabview">
                <p-tabPanel header="Assign me" headerStyleClass="tabpanel__header">
                    <p-table [value]="forms" [paginator]="true" [rows]="10" [showCurrentPageReport]="false"
                        [tableStyle]="{'min-width': '50rem'}" [rowsPerPageOptions]="[10,20,30]">
                        <ng-template pTemplate="body" let-form>
                            <tr>
                                <td>
                                    <div class="card__body">
                                        <div class="card__content">
                                            <span class="material-icons"
                                                style="font-size: 48px; color: rgb(103, 0, 172);">description</span>
                                            <div class="card__info">
                                                <a class="card__title" role="button"
                                                    (click)="getId(form._id)">{{form.form_name}}</a>
                                                <p class="card__subtitle">{{form.user}}</p>
                                                <p class="card__subtitle">{{form.create_date}}</p>
                                            </div>
                                        </div>
                                        <button><i class="pi pi-ellipsis-h" style="color: #7a7a7a;"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td>{{homePageText.noFormFound}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Owner by me" headerStyleClass="tabpanel__header">
                    <p-table [value]="forms" [paginator]="true" [rows]="10" [showCurrentPageReport]="false"
                        [tableStyle]="{'min-width': '50rem'}" [rowsPerPageOptions]="[10,20,30]">
                        <ng-template pTemplate="body" let-form>
                            <tr>
                                <td>
                                    <div class="card__body">
                                        <div class="card__content">
                                            <span class="material-icons"
                                                style="font-size: 48px; color: rgb(103, 0, 172);">description</span>
                                            <div class="card__info">
                                                <p class="card__title">{{form.form_name}}</p>
                                                <p class="card__subtitle">{{form.user}}</p>
                                                <p class="card__subtitle">{{form.create_date}}</p>
                                            </div>
                                        </div>
                                        <button><i class="pi pi-ellipsis-h" style="color: #7a7a7a;"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td>No forms found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Draft" headerStyleClass="tabpanel__header">
                </p-tabPanel>
                <p-tabPanel header="Domain" headerStyleClass="tabpanel__header">
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>

    <p-dialog header="Upload Excel" [(visible)]="displayUploadButton" [modal]="true" [style]="{width: '50vw'}"
        [draggable]="false" [resizable]="false" styleClass="main__dialog-upload">
        <p class="dialog__content">{{homePageText.uploadFileHeader}}</p>
        <form class="dialog__form-upload" method="post" (drop)="onFileDrop($event)" (dragover)="onDragOver($event)"
            (dragleave)="onDragLeave($event)">
            <div class="form__upload">
                <i class="pi pi-inbox" style="font-size: 36px;"></i>
                <input type="file" id="file" name="file" accept=".xls,.xlsx" class="upload__input"
                    (change)="onFileInputChange($event)" multiple #fileUpload>
                <label for="file" id="fileLabel" [ngClass]="{'drag-over': isDragOver}">Click or drag file to this area
                    to upload</label>
                <p>Support for a single or bulk upload. Strictly prohibit from uploading company data or other band
                    files
                </p>
                <button pButton class="upload__btn" type="submit" (click)="onUploadFile()"
                    *ngIf="fileSelected">Upload</button>
            </div>
        </form>
    </p-dialog>
</div>