<div class="container-fluid primary-frame">
    <div class="container mx-auto d-flex justify-content-between">
        <div class="edit__frame-header align-items-center d-flex"><span class="material-icons"
                style="font-size: 48px; color: rgb(103, 0, 172); margin-right: 8px;">description</span>
            <p>{{form.form_name}}</p>
        </div>
        <div class="d-flex edit__frame-btn">
            <button class="frame__btn-back" pButton icon="pi pi-arrow-left" label="Back"></button>
            <button pRipple pButton icon="pi pi-file-edit" label="Edit"></button>
        </div>
    </div>
</div>
<div class="container mx-auto row edit__frame-content">
    <div class="frame__profile">
        <div class="frame__profile-card text-center">
            <p-avatar image=""></p-avatar>
            <p class="card__title">Name</p>
            <p class="card__subtitle">contractor</p>
            <button pButton pRipple label="View profile"></button>
        </div>
    </div>
    <div class="frame__form">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                Skill Domain
                <span style="margin-left: 8px; color: rgb(255, 144, 103);">4.5</span>
            </ng-template>
            <ng-template pTemplate="icons">
                <p-menu #menu [popup]="true">
                </p-menu>
            </ng-template>
            <div class="radio__header d-flex mb-2">
                <div class="col-2"></div>
                <div class="radio__labels col-10">
                    <label for="0">0</label>
                    <label for="1">1</label>
                    <label for="2">2</label>
                    <label for="3">3</label>
                    <label for="4">4</label>
                    <label for="5">5</label>
                </div>
            </div>
            <div class="radio__form d-flex align-items-center">
                <div class="col-2">
                    <span>Skill name</span>
                </div>
                <div class="radio__options col-10">
                    <p-radioButton id="0" name="number" [(ngModel)]="selectedValue" value="0">0</p-radioButton>
                    <p-radioButton id="1" name="number" [(ngModel)]="selectedValue" value="1">0</p-radioButton>
                    <p-radioButton id="2" name="number" [(ngModel)]="selectedValue" value="2"></p-radioButton>
                    <p-radioButton id="3" name="number" [(ngModel)]="selectedValue" value="3"></p-radioButton>
                    <p-radioButton id="4" name="number" [(ngModel)]="selectedValue" value="4"></p-radioButton>
                    <p-radioButton id="5" name="number" [(ngModel)]="selectedValue" value="5"></p-radioButton>
                </div>
            </div>
        </p-panel>
    </div>
</div>