@import "primeng/resources/primeng.min.css"
@import "primeng/resources/themes/theme.css"
@import "primeicons/primeicons.css"

*
    box-sizing: border-box
    margin: 0
    padding: 0

html, body
    height: 100vh

li
    list-style: none

a
    text-decoration: none

button
    border: none
    outline: none
    background: transparent

table
    border-collapse: unset

//color
//$primary-01: #2C7A90
// $primary-01: #5C95A3
// $primary-02: #D9EFED
// $primary-03: #75A8B2

$primary-01: #2277f4
$primary-02: #6ba7ff
$primary-03: #5396fa
$neutro-01: #171717
$neutro-02: #444444
$neutro-03: #5E5E5E
$neutro-04: #767676
$neutro-05: #D3D3D3
$neutro-07: #fff
$neutro-300: #7a7a7a
$neutro-400: #333
$neutral-2: #FAFAFA
$neutral-5: #D9D9D9
$grayscale-spacer-light: #E5E0EB
$character-title-85: #000000D9
$character-secondary-45: #00000073

//font
$primary-font: 'Inter', sans-serif
$secondary-font: 'Roboto', sans-serif
$brand-font: 'Lato', sans-serif

.primary-frame
    background: $primary-02
.frame
    height: calc( 100vh - 74px )
    //background: linear-gradient(180deg, #6BA7FF 0%, #D9EFED 0%, #D9EFED 0.01%, #C8E3E4 21.35%, #A7D0D3 45.31%, #9DC3CC 65.1%, #6399A5 100%)
    background: $primary-02
.frame__secondary
    height: calc( 100vh - 74px )
    background: $neutro-07
